In [7]:
import pandas as pd
import numpy as np

In [3]:
pp_df = pd.read_csv("../../dataset/peptides/seq_feats.csv")
pp_df = pp_df.drop(columns=['Unnamed: 0'])
pp_df

       accession                                               data
0         Q7VRM4  [{'AF1': np.float64(-0.029280837170417996), 'A...
1         A4XK06  [{'AF1': np.float64(0.03188040579310344), 'AF2...
2         Q8KCJ4  [{'AF1': np.float64(0.0006003332371794853), 'A...
3         Q9VR91  [{'AF1': np.float64(-0.06987503646376221), 'AF...
4         O95714  [{'AF1': np.float64(-0.041783012581712874), 'A...
...          ...                                                ...
110217    Q9SR96  [{'AF1': np.float64(0.0820327897027972), 'AF2'...
110218    Q7YR37  [{'AF1': np.float64(0.27752947566294917), 'AF2...
110219    Q9FM10  [{'AF1': np.float64(-0.28680616929166663), 'AF...
110220    P42165  [{'AF1': np.float64(0.01594493238341967), 'AF2...
110221    Q9NR80  [{'AF1': np.float64(0.12269997394202899), 'AF2...

[110222 rows x 2 columns]